##########################
# CONFIGURATION SETTINGS #
##########################
# FIRST STOP
# You must set a few things before trying to do anything
set network "TC-Net"
# NETWORK MUST BE SET SINCE THERE IS A HUGE PROBLEM WITH LOGGING WITHOUT IT SET
########################################################

set armour(keepold) "50"
set armour(addpre) ""
set armour(delpre) ""
set armour(info) ""
set armour(genre) ""
set armour(nuke) ""
set armour(unnuke) ""
set armour(addold) ""

# FTP SETTINGS
# Well Its got to get into the chans somehow

set ftp(host) {localhost}
set ftp(port) {9907}
set ftp(login) {mylogin}
set ftp(pass) {mypassword}

# MySQL SETTINGS
# Well you need somewhere to store the information

set mysql(host) {localhost}
set mysql(user) {MySQL_Login}
set mysql(pass) {MySQL_Password}
set mysql(db) {MySQL_Database}
set mysql(handle) [::mysql::connect -host $mysql(host) -user $mysql(user) -pass $mysql(pass) -db $mysql(db)]
### Nuke Allowed Source (This is for DB Adding and Spamming) (Same with Delpre)
set mysql(nuke,allowedsource) "dupeNET Sheep DutchNET"
set mysql(delpre,allowedsource) "dupeNET Sheep DutchNET"


# MODULE SETTINGS
# To Load the modules you so lovingly desire

set module(db) {0}
set module(site) {1}
set module(nuke) {0}
set module(tvrage) {0}
set module(imdb) {0}
set module(addpre) {1}
set module(client) {1}

# INPUT SETTINGS

set site(input,<botnick>,sitenew) {mkd -  $section / $release}
set site(input,<botnick>,sitecomp) {100% - $section / $release}
set site(input,<botnick>,sitepre) {}

set site(input,default,addpre) {!addpre $release $section}
set site(input,default,info) {!info $release $files $size}
set site(input,default,genre) {!gn $release $genre}
set site(input,format1,nuke) {!nuke $release $reason}
set site(input,format1,unnuke) {!unnuke $release $reason}
set site(input,format1,delpre) {!delpre $release $reason}
set site(input,default,addold) {!addold $release $section $unixtime $files $size $genre $reason}

# OUTPUT SETTINGS
# another load of settings

set site(output,default,announce,pre) {\0037(\00312PRE\0037)(\003$colour$section\0037)(\00310$release\0037)(\00312$curtime\0037)}
set site(output,default,announce,nuke) {\0037(\0034NUKE\0037)(\003$colour$section\0037)(\00310$release\0037)(\00312$reason\0037)}
set site(output,default,announce,unnuke) {\0037(\0033UNNUKE\0037)(\003$colour$section\0037)(\00310$release\0037)(\00312$reason\0037)}
set site(output,default,announce,tv,colour) {03}
set site(output,default,announce,xxx,colour) {13}
set site(output,default,announce,mp3,colour) {08}
set site(output,default,announce,xvid,colour) {14}
set site(output,default,announce,games,colour) {09}
set site(output,default,announce,0day,colour) {06}
set site(output,default,announce,apps,colour) {11}
set site(output,default,announce,pre,colour) {07}

set site(output,default,pre,nothing) {Sorry $nick nothing found for '$search'}
set site(output,default,pre,sendres) {Sending $numres of $getnumres to $nick}
set site(output,default,pre,pre) {07PRE in $site(output,default,announce,[string tolower $minisection],colour)$section 03::: 07$release \[07$files F/$size MB $genre\]\[07$ago ago\]}
set site(output,default,pre,nuke) {04NUKE in $site(output,default,announce,[string tolower $minisection],colour)$section 03::: 07$release [07$reason][07$filesF/$sizeMB $genre][07$ago ago]}
set site(output,default,pre,unnuke) {03UNNUKE in $site(output,default,announce,[string tolower $minisection],colour)$section 03::: 07$release [07$reason][07$filesF/$sizeMB $genre][07$ago ago]}

set site(output,default,db,datetime) {03DATETIME 07$date - $time}
set site(output,default,db,count) {03\[ALL\: 07$db(count,all)03\]\[NUKED\: 07$db(count,nuked)03\]\[UNNUKED: 07$db(count,unnuked)03\]\[INFO: 07$db(count,info)03\]\[GENRE: 07$db(count,genre)03\]}
set site(output,default,db,firstpre) {03\[First Pre\] (07$db(firstpre,section)03)(07$db(firstpre,release)03)($db(firstpre,ago) ago03)}
set site(output,default,db,lastpre) {03\[Last Pre\] (07$db(lastpre,section)03)(07$db(lastpre,release)03)(07$db(lastpre,ago) ago03)}

set site(output,default,group,start) {03GROUPINFO \[07$group03\]}
set site(output,default,group,count) {03\[ALL\: 07$countall03\]\[NUKED\: 07$countnuked03\]\[UNNUKED\: 07$countunnuked03\]}
set site(output,default,group,firstpre) {03\[First Pre\] (07$firstpresection03)(07$firstprerelease03)(07$firstpreago)}
set site(output,default,group,lastpre) {03\[Last Pre\] (07$lastpresection03)(07$lastprerelease03)(07$lastpreago03)}

set site(output,<channel>,sitenew,ok) {3ok - 14 $section \/ 03$release 14\[$ago\]}
set site(output,<channel>,sitenew,backfill) {4backfill - 14 $section \/ 04$release 14\[$ago\]}
set site(output,<channel>,sitenew,nuked) {4nuked - 14 $section \/ 04$release 14\[$ago\]}
set site(output,<channel>,sitecomp) {100\% - 14 $section \/ 14$release 14\[$ago\]}

set site(output,default,addpre) {!addpre $release $section}
set site(output,default,info) {!info $release $files $size}
set site(output,default,genre) {!gn $release $genre}
set site(output,default,nuke) {!nuke $release $reason $source}
set site(output,default,unnuke) {!unnuke $release $reason $source}
set site(output,default,delpre) {!delpre $release $reason $source}
set site(output,default,addold) {!addold $release $section $unixtime $files $size $genre $reason}

# NUKEBOT SETTINGS
# This should only be the command,its verified by sources, you can put as many as you want in
# so long as its seperated by a space and is in quotes
set site(output,nuke,allowedsource) "dupeNET Sheep DutchNET"
set site(output,delpre,allowedsource) "dupeNET Sheep"

# PRE/DUPE SETTINGS
# The Pretimes are set in seconds, i dont see a major point in setting it otherwise
set site(sitenew,<channel>,default) {300}
set site(sitenew,default,default) {300}

set site(dupe,default,results) {20}

# FiSH Settings
set site(fish,default,prefix) {+OK}
set site(fish,#channel,prefix) {}
set site(fish,#channel,key) {}

